#Story files that can be compiled by the user (only raw files needed).
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/meta.lsx
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/log.txt
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/goals.div
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/goals.raw
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/story.div
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/story.div.osi
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/story_ac.dat
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/RawFiles/story_definitions.div
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/RawFiles/story_header.div

#Assets
Editor/Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Assets/Effects/*
Public/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Assets/*
Public/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/GUI/*

#Log files, etc
*.log
*.ailog
StatsEditorConfig.xml
DockPanel.config
EditorBrowserMetadata.*
EditorMetadata.*
EffectEditorConfig.xml

#Assets
*.gr2
*.dae
*.swf
*.bullet
*.dds
*.tga
*.png
*.ttf

#Binary Files
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.lsb
*.lsf
*.lsfx
*.osi
*.patch
*.tmpl

# Dump files
*.stackdump
*.dmp