# SourceControlGenerator #
##########################
SourceControlGenerator.json

#Levels
######################
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Levels/*
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Globals/*
Editor/Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Levels/*

#Story files
######################
*.div
!story_header.div
*.raw
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/Dialogs/Recovered/*
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/Dialogs/Autosave/*
story.debugInfo

#Assets
######################*
Public/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Assets/*
!Public/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Assets/Sound

#Editor files
######################
StatsEditorConfig.xml
EffectEditorConfig.xml
DockPanel.config
EditorBrowserMetadata.*
ReConHistory.txt
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Globals/*
Editor/Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Assets/Materials/Reference/*

#Assets
######################
*.gr2
*.dae
*.bin
*.bnk
*.swf
*.bullet
*.dds
*.tga
*.png
*.jpg
*.jpeg
*.ttf
*.lsb
*.lsf
*.lsfx
#*.lsefx
#*.lsx
#*.lsmg
*.fbx
*.lsm
*.wav
*.wem
*.shd
*.metal

# Logs #
######################
*.log
*.ailog
log.txt
errors.txt
dialoglog.txt
personallog.txt

#Binary Files
######################
*.dat
*.data
*.bik
*.bnk
*.bshd
*.cur
*.fnt
*.iggy
*.iggytex
*.osi
*.patch
*.tmpl

# Dump files
######################
*.stackdump
*.dmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# OS generated files #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/story_orphanqueries_found.txt
LocalKeys/AbilityNamesAndDescriptions.xml
Flash/UIExtensions/RECOVER_*
Flash/UIOverrides/test/*
LeaderLib.wiki/
Mods/LeaderLib_543d653f-446c-43d8-8916-54670ce24dd9/Story/RawFiles/Lua/Shared/Libraries/test/*
